@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #131312;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.menu_side {
    width: 25%;
    height: 100%;
    background-color: #111727;
    box-shadow: 5px 0px 2px #090f1f;
    color: #fff;
    padding: 20px;
}

.song_side {
    width: 75%;
    height: 100%;
    background-color: #0b1320;
    position: relative;
}

.master_play {
    width: 100%;
    height: 10%;
    background: #111727;
    box-shadow: 0px 3px 8px #090f1f;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.menu_side h1 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
}

.playlist h4 {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #4c5262;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .3s linear;
}

.playlist h4:hover {
    color: #fff;
}

.playlist h4 span {
    margin-right: 35px;
    position: relative;
}

.playlist h4 span::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid #4c5262;
    border-radius: 50%;
    top: -4px;
    transition: .3s linear;
}

.playlist h4:hover span::before {
    border: 2px solid #fff;
}

.menu_song li {
    list-style-type: none;
    padding: 5px 0;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s linear;
}

.menu_song li:hover {
    background: rgba(105, 105, 170, .1);
}

.menu_song li img {
    width: 32px;
    height: 32px;
    margin-left: 25px;
}

.menu_song li h5 {
    font-size: 11px;
    margin-left: 15px;
}

.master_play .wave {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}

.master_play .wave .wave1 {
    width: 3px;
    height: 10px;
    margin-right: 3px;
    border-radius: 10px 10px 0 0;
    background: #1DB954;
    animation: unset;
}

.master_play .wave .wave1:nth-child(2) {
    height: 13px;
}

.master_play .wave .wave1:nth-child(3) {
    height: 8px;
}

.active2 .wave1 {
    animation: wave .5s linear infinite;
}

@keyframes wave {
    0% {
        height: 10px;
    }

    50% {
        height: 15px;
    }

    100% {
        height: 10px;
    }
}

.master_play h5 {
    width: 130px;
    font-size: 13px;
    margin-left: 15px;
    color: #fff;
    line-height: 17px;
}

.master_play h5 .subtitle {
    font-size: 11px;
    color: #4c5262;
}

.master_play .icon {
    font-size: 20px;
    color: #fff;
    margin: 0px 20px 0px 40px;
}

.master_play .icon .bi:nth-child(2) {
    border: 1px solid rgba(105, 105, 170, .1);
    border-radius: 50%;
    padding: 1px 4px 0px 6px;
    margin: 0px 5px;
    transition: .3s linear;
}

.master_play .bar {
    position: relative;
    width: 43%;
    height: 2px;
    background: rgba(105, 105, 170, .1);
    margin: 0px 15px 0px 10px;
}

.master_play .bar .bar2 {
    position: absolute;
    background: #1DB954;
    width: 0%;
    height: 100%;
    top: 0;
    transition: 1s linear;
}

.master_play .bar .dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #1DB954;
    border-radius: 50%;
    left: 0%;
    top: -1px;
    transition: 1s linear;
}

.master_play .vol {
    position: relative;
    width: 100px;
    height: 2px;
    margin-left: 50px;
    background: rgba(105, 105, 170, .1);
}

.master_play .vol .bi {
    position: absolute;
    color: #fff;
    font-size: 25px;
    top: -17px;
    left: -30px;
}

.master_play .vol .vol_bar {
    position: absolute;
    background: #1DB954;
    width: 0%;
    height: 100%;
    top: 0;
    transition: 1s linear;
}

.master_play .vol .dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #1DB954;
    border-radius: 50%;
    left: 0%;
    top: -1px;
    transition: 1s linear;
}

.song_side nav {
    width: 90%;
    height: 10%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.song_side nav ul {
    display: flex;
}

.song_side nav ul li {
    list-style-type: none;
    font-size: 13px;
    color: #4c5262;
    margin-right: 25px;
    cursor: pointer;
    transition: .3s linear;
}

.song_side nav ul li:hover {
    color: #fff;
}

.song_side nav ul li span {
    position: absolute;
    width: 100%;
    height: 2.5px;
    background: #1DB954;
    bottom: -5px;
    left: 0;
    border-radius: 20px;
}

.song_side nav .search {
    position: relative;
    width: 40%;
    padding: 1px 10px;
    border-radius: 20px;
    color: gray;
}

.song_side nav .search::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: rgba(184, 184, 184, .1);
    backdrop-filter: blur(5px);
    z-index: -1;
}

.song_side nav .search .bi {
    font-size: 13px;
    padding: 3px 0px 0px 10px;
}

.song_side nav .search input {
    background: none;
    outline: none;
    border: none;
    padding: 0px 10px;
    color: #fff;
    font-size: 12px;
}

.song_side .content {
    width: 90%;
    height: 30%;
    margin: auto;
    padding-top: 20px;
}

.song_side .content h1 {
    font-size: 25px;
    font-weight: 600;
}

.song_side .content p {
    font-size: 11px;
    font-weight: 400;
    color: #4c5262;
    margin: 5px 0;
}

.song_side .content .buttons {
    margin-top: 15px;
}

.song_side .content .buttons button {
    width: 130px;
    height: 30px;
    border: 2px solid #1DB954;
    outline: none;
    border-radius: 20px;
    background: #1DB954;
    color: #fff;
    cursor: pointer;
    transition: .3s linear;
}

.song_side .content .buttons button:hover {
    background: none;
    color: #1DB954;
}

.song_side .popular_song {
    width: 90%;
    margin: auto;
    margin-top: 15px;
}

.song_side .popular_song .h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.song
