/* Global Styles */
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Small Devices (Phones) */
@media only screen and (max-width: 600px) {
    header {
        flex-direction: column;
        height: auto;
    }

    header .menu_side, 
    header .song_side {
        width: 100%;
        height: auto;
    }

    header .menu_side .playlist h4 {
        font-size: 12px;
    }

    header .menu_side .menu_song li h5 {
        font-size: 10px;
    }

    header .menu_side .menu_song li img {
        width: 28px;
        height: 28px;
    }

    header .master_play {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    header .master_play img {
        width: 30px;
        height: 30px;
    }

    header .master_play h5 {
        width: auto;
        font-size: 12px;
    }

    header .master_play .icon {
        margin: 10px 0;
        font-size: 18px;
    }

    header .master_play .bar {
        width: 100%;
    }

    header .master_play .vol {
        margin-left: 0;
        width: 100%;
    }

    .content h1 {
        font-size: 18px;
    }

    .content p {
        font-size: 14px;
    }

    .buttons button {
        padding: 5px 10px;
        font-size: 12px;
    }

    .popular_song .h4 h4,
    .popular_artists .h4 h4 {
        font-size: 16px;
    }

    .popular_song .songItem h5 {
        font-size: 12px;
    }

    .popular_artists .item li img {
        width: 60px;
        height: 60px;
    }
}

/* Medium Devices (Tablets) */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
    header {
        flex-direction: column;
    }

    header .menu_side,
    header .song_side {
        width: 100%;
    }

    header .master_play {
        height: auto;
    }

    header .master_play .icon {
        margin: 0 10px;
        font-size: 20px;
    }

    header .master_play .bar {
        width: 70%;
    }

    header .master_play .vol {
        margin-left: 20px;
        width: 30%;
    }

    .content h1 {
        font-size: 22px;
    }

    .content p {
        font-size: 16px;
    }

    .buttons button {
        padding: 7px 15px;
        font-size: 14px;
    }

    .popular_song .h4 h4,
    .popular_artists .h4 h4 {
        font-size: 18px;
    }

    .popular_song .songItem h5 {
        font-size: 14px;
    }

    .popular_artists .item li img {
        width: 80px;
        height: 80px;
    }
}

/* Large Devices (Desktops) */
@media only screen and (min-width: 1024px) {
    header {
        flex-direction: row;
    }

    header .menu_side,
    header .song_side {
        width: 25%;
        height: 90%;
    }

    header .song_side {
        width: 75%;
    }

    header .master_play {
        flex-direction: row;
    }

    header .master_play .icon {
        margin: 0 20px;
        font-size: 24px;
    }

    header .master_play .bar {
        width: 50%;
    }

    header .master_play .vol {
        margin-left: 50px;
        width: 100px;
    }

    .content h1 {
        font-size: 28px;
    }

    .content p {
        font-size: 18px;
    }

    .buttons button {
        padding: 10px 20px;
        font-size: 16px;
    }

    .popular_song .h4 h4,
    .popular_artists .h4 h4 {
        font-size: 20px;
    }

    .popular_song .songItem h5 {
        font-size: 16px;
    }

    .popular_artists .item li img {
        width: 100px;
        height: 100px;
    }
}
